@using Utilities
@model Iris.ViewModels.FooterViewModel
@*<div id="push"></div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div style="">
                        <h2 style="border-bottom:2px solid #3498DB;line-height:1.6em;font-size:22px">اطلاعات تماس</h2>
                    </div>
                    <div>
                        <address style="font-size:15px;">
                            @Html.Raw(ViewBag.ContactInfo)
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <h2 style="border-bottom:2px solid #3498DB;line-height:1.6em;font-size:22px">بخش‌های سایت</h2>
                    </div>
                    <div class="row" style="font-size:13px;">
                        @for (int i = 0; i < Model.PageLinks.Count; i += 4)
                        {
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var pageLink in Model.PageLinks.Skip(i))
                                    {
                                        <li><a href="@Url.Action(MVC.Post.Home.ActionNames.Index, MVC.Post.Home.Name, new { area = MVC.Post.Name, id = pageLink.Id, slugUrl = pageLink.SlugUrl })">@pageLink.Title</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="col-md-6">
                            <ul>
                                <li><a href="@Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})#/page">کالا‌ها</a></li>
                                @foreach (var categoryLink in Model.PostCategoryLinks)
                                {
                                    <li><a href="@Url.Action(MVC.Post.Home.ActionNames.List, MVC.Post.Home.Name, new { area = MVC.Post.Name, id = categoryLink.Id, slugUrl = SeoHelpers.GenerateSlug(categoryLink.Title) })">@categoryLink.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div style="margin-top: 30px;">
                        <ul class="social-icons text-left ">
                            <li><a href="#" target="_blank" class="icon-linemessenger"></a></li>
                            <li><a href="#" target="_blank" class="icon-instageram"></a></li>
                            <li><a href="#" target="_blank" class="icon-telegram"></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="border-top:1px solid #CCE5F6;">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="copyright-text">تمامی حقوق متعلق به @ViewBag.SiteName می باشد</div>
                    <div>&copy; @ViewBag.SiteName 1398 - 1399</div>
                </div>
            </div>
        </div>
    </footer>
*@
<!-- Start footer -->
<footer class="main-footer dt-sl">
    <div class="back-to-top">
        <a href="#">
            <span class="icon"><i class="mdi mdi-chevron-up"></i></span> <span>
                بازگشت به
                بالا
            </span>
        </a>
    </div>
    <div class="container main-container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/svg/delivery.svg">
                    </a>
                    <p>تحویل اکسپرس</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/svg/contact-us.svg">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/svg/payment-terms.svg">
                    </a>
                    <p>پرداخت درمحل</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/svg/return-policy.svg">
                    </a>
                    <p>۷ روز ضمانت بازگشت</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/svg/origin-guarantee.svg">
                    </a>
                    <p>ضمانت اصل بودن کالا</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">راهنمای خرید از @ViewBag.SiteName</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">نحوه ثبت سفارش</a>
                            </li>
                            <li>
                                <a href="#">رویه ارسال سفارش</a>
                            </li>
                            <li>
                                <a href="#">شیوه‌های پرداخت</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">خدمات مشتریان</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">پاسخ به پرسش‌های متداول</a>
                            </li>
                            <li>
                                <a href="#">رویه‌های بازگرداندن کالا</a>
                            </li>
                            <li>
                                <a href="#">شرایط استفاده</a>
                            </li>
                            <li>
                                <a href="#">حریم خصوصی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">با @ViewBag.SiteName</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">فروش در @ViewBag.SiteName</a>
                            </li>
                            <li>
                                <a href="#">همکاری با سازمان‌ها</a>
                            </li>
                            <li>
                                <a href="#">فرصت‌های شغلی</a>
                            </li>
                            <li>
                                <a href="#">تماس با @ViewBag.SiteName</a>
                            </li>
                            <li>
                                <a href="#">درباره @ViewBag.SiteName</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newsletter">
                        <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                        <form action="">
                            <input type="email" class="form-control"
                                   placeholder="آدرس ایمیل خود را وارد کنید...">
                            <input type="submit" class="btn btn-primary" value="ارسال">
                        </form>
                    </div>
                    <div class="socials">
                        <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                        <div class="footer-social">
                            <ul class="text-center">
                                <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-telegram"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="col-12 text-right">
                    <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="container main-container">
            <div class="row">
                <div class="site-description col-12 col-lg-7">
                    <h1 class="site-title">فروشگاه اینترنتی @ViewBag.SiteName، بررسی، انتخاب و خرید آنلاین</h1>
                    <p>
                        @ViewBag.SiteName به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                        پایبندی به سه اصل کلیدی، پرداخت در
                        محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                        معتبر جهان، به بزرگ‌ترین فروشگاه
                        اینترنتی ایران تبدیل شود. به محض ورود به @ViewBag.SiteName با یک سایت پر از کالا رو به رو
                        می‌شوید! هر آنچه که نیاز دارید و به
                        ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                    </p>
                </div>
                <div class="symbol col-12 col-lg-5">
                    <a href="#" target="_blank"><img src="~/Content/img/symbol-01.png" alt=""></a>
                    <a href="#" target="_blank"><img src="~/Content/img/symbol-02.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container main-container">
            <p>
                استفاده از مطالب فروشگاه اینترنتی @ViewBag.SiteName فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                کلیه حقوق این سایت متعلق
                به فروشگاه آنلاین @ViewBag.SiteName می‌باشد.
            </p>
            <p>
                <a href="http://Amircpu.ir/">© Amircpu 2019 - 2020</a>
            </p>
        </div>
    </div>
</footer>
<!-- End footer -->