@*<nav id="topNavBar" class="navbar navbar-default">
    <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name, new {area=""})">
                            <h1>@ViewBag.SiteName</h1>
                        </a>
                    </div>
                    <div id="frmSearch" class="col-lg-6 col-md-6 col-md-offset-1">
                        @using (Html.BeginForm(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name }, FormMethod.Post))
                        {
                            <div class="input-group">
                                <input id="searchInput" dir="rtl" type="search" class="form-control" placeholder="دنبال چیزی می گردید؟!" autocomplete="off">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        }
                    </div>
                    <div class="col-lg-2 col-md-2 col-md-offset-1 pull-left text-left">

            --------------------- Menu ---------------------------->>>
                        <a href="@Url.Action("Index", "Home", new { area = "ShoppingCart" })" style="display: inline-block;">
                            <span id="shoppingCartIcon" class="fa-stack fa-2x" data-count="0" style="margin-top: 30px; font-size: 1.5em">
                                <i class="fa fa-shopping-cart fa-stack-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>



        </nav>
*@
@model IEnumerable<Iris.ViewModels.LinkViewModel>

<!-- Start ads -->
<a href="@Url.Action("Index","Home")" class="ads-header hidden-sm" target="_blank"
    style="background-image: url(../../Content/img/banner/large-ads.jpg)">
</a>
<!-- End ads -->
<!-- Start topbar -->
<div class="container main-container">
    <div class="topbar dt-sl">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-6">
                <div class="logo-area float-right">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/img/logoType.svg" alt="@ViewBag.SiteName" style="width:150px;margin-top:-8px;">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 hidden-sm">
                <div class="search-area dt-sl">
                    @using (Html.BeginForm(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name }, FormMethod.Post, new { @class = "search" }))
                    {
                        <div class="input-group">
                            <input id="searchInput" type="text"
                                    placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                            <button type="submit"><img src="~/Content/img/theme/search.png" alt=""></button>
                        </div>
                    }
                </div>
            </div>
            <!--Begin Account Area-->
            <div class="col-md-4 col-6 topbar-left">
                <ul class="nav float-left">
                    <li class="nav-item account dropdown">

                        <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <span class="label-dropdown">حساب کاربری</span>
                                <i class="mdi mdi-account-circle-outline"></i>
                            }
                            else
                            {
                                <span class="label-dropdown">@User.Identity.Name</span>
                                <i class="mdi mdi-account-circle"></i>
                            }
                        </a>

                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="@Url.Action("Login", "Account", new { isUser = true, area = "", returnUrl = Request.Url?.AbsolutePath })">
                                    <i class="mdi mdi-account-key"></i>ورود
                                </a>
                                <a class="dropdown-item" href="@Url.Action("Register", "Account", new { area = "", returnUrl = Request.Url?.AbsolutePath })">
                                    <i class="mdi mdi-account-plus"></i>ثبت نام
                                </a>
                            }
                            else
                            {

                                if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "Dashboard", routeValues: new { Area = "AdminPanel" })">
                                        <i class="mdi mdi-wallet-travel"></i>پیشخوان مدیریت
                                    </a>
                                }
                                    
                                <a class="dropdown-item" href="@Url.Action("Index", "Home", new { area = "User" })">
                                    <i class="mdi mdi-account-card-details-outline"></i>حساب کاربری
                                </a>
                                    
                                <a class="dropdown-item" href="@Url.Action("UserFactor","Home",new{area="ShoppingCart"})">
                                    <i class="mdi mdi-wallet-giftcard"></i>سفارشات
                                </a>

                                <div class="dropdown-divider" role="presentation"></div>

                                using (Html.BeginForm(MVC.Account.ActionNames.LogOff, MVC.Account.Name, new { area = "" }, FormMethod.Post, new { id = "logoutForm", style = "width:auto;padding:0;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit()" style="display: block;padding: 3px 20px;"><i class="mdi mdi-logout-variant"></i>خروج</a>
                                }
                            }

                        </div>

                    </li>
                </ul>
            </div>
            <!--End Account Area-->
        </div>
    </div>
</div>
<!-- End topbar -->
    
