@model IEnumerable<Iris.ViewModels.LinkViewModel>

<!-- Start bottom-header -->
<div class="bottom-header dt-sl mb-sm-bottom-header">
    <div class="container main-container">
        <!-- Start Main-Menu -->
        <nav id="menuNav" class="main-menu dt-sl">
            <ul class="list float-right hidden-sm">
                <li class="list-item">
                    <a class="nav-link" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name, new {area = ""})">صفحه اصلی <span class="sr-only">(current)</span></a>
                </li>
                <li class="list-item">
                    <a class="nav-link" href="@Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})">کالا‌ها</a>
                </li>
                <!-- dropdown-menu -->
                @if (Model.Count() > 0)
                {
                    <li class="list-item list-item-has-children menu-col-1">
                        <a class="nav-link" href="#">صفحات</a>
                        <ul class="sub-menu nav">
                            @foreach (var pageLink in Model)
                            {
                                <li class="list-item"><a href="@Url.Action(MVC.Post.Home.ActionNames.Index, MVC.Post.Home.Name, new { area = MVC.Post.Name, id = pageLink.Id, slugUrl = pageLink.SlugUrl })">@pageLink.Title</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav float-left">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "ShoppingCart" })"
                       @*data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*@>
                        <span class="label-dropdown">سبد خرید</span>
                        <i class="mdi mdi-cart-outline"></i>
                        <span class="count" id="shoppingCartIcon" data-count="0">0</span>
                    </a>
                </li>
            </ul>
            <!--Bgin Nuget BTN Menu-->
            <button class="btn-menu">
                <div class="align align__justify">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="side-menu">
                <div class="logo-nav-res dt-sl text-center">
                    <a href="#">
                        <img src="../../Content/img/logo.png" alt="">
                    </a>
                </div>
                <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
                    
                    @using (Html.BeginForm(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name }, FormMethod.Post, new { @class = "search", @Id="SearchFormMini" }))
                    {
                        <input id="searchInputmini" type="text" name="s" placeholder="جستجو کنید...">
                        <i onclick="$('#SearchFormMini').submit();" class="mdi mdi-magnify"></i>
                    }
                </div>

                <ul class="navbar-nav dt-sl">
                    <li>
                        <a class="nav-link" href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name, new {area = ""})">صفحه اصلی <span class="sr-only">(current)</span></a>
                    </li>
                    <li >
                        <a class="nav-link" href="@Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})#/page">کالا‌ها</a>
                    </li>
                    <!-- dropdown-menu -->
                    @if (Model.Count() > 0)
                    {
                        <li class="sub-menu">
                            <a class="nav-link" href="#">صفحات</a>
                            <ul class="sub-menu">
                                @foreach (var pageLink in Model)
                                {
                                    <li ><a href="@Url.Action(MVC.Post.Home.ActionNames.Index, MVC.Post.Home.Name, new { area = MVC.Post.Name, id = pageLink.Id, slugUrl = pageLink.SlugUrl })">@pageLink.Title</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

            </div>
            <div class="overlay-side-menu">
            </div>
            <!--End Nuget BTN Menu-->
        </nav>
        <!-- End Main-Menu -->
    </div>
</div>
<!-- End bottom-header -->