@using Iris.Web.ViewModels
@model Iris.ViewModels.HomePageViewModel
@*
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <div class="row hidden-xs">
                <div class="col-md-12" id="mainSlideShow">
                    @Html.Partial(MVC.SlideShow.Widget.Views.SlideShowWidget, Model.SlideShows)
                </div>
            </div>
            <div class="row" style="margin-top: 15px; margin-bottom: 10px;">
                <div class="col-md-12">
                    @{Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
                      {
                          Title = "جدیدترین کالا‌ها",
                          CarouselId = "newestProductsCarousel",
                          LinkText = "ادامه کالا‌ها",
                          Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})}#/page/all/empty/1/PostedDate/desc",
                          Products = Model.NewestProducts
                      }
                          ); }
                </div>
            </div>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-12">
                    @{Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
                      {
                          Title = "محبوب‌ترین کالا‌ها",
                          CarouselId = "topProductsCarousel",
                          LinkText = "ادامه کالا‌ها",
                          Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/AverageRating/desc",
                          Products = Model.PopularProducts
                      }
                          ); }
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    @{Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
                      {
                          Title = "پربازدیدترین کالا‌ها",
                          CarouselId = "topViewProductsCarousel",
                          LinkText = "ادامه کالا‌ها",
                          Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/ViewNumber/desc",
                          Products = Model.MostViewedProducts
                      }); }
                </div>
            </div>
        </div>
        <aside class="col-md-3 aside-panels col-md-pull-9">
            @if (Model.Categories != null && Model.Categories.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading sidebar-header" style="padding-bottom: 0; padding-top: 0;">
                        <span class="bdred">
                            کالا‌ها
                        </span>
                    </div>
                    <div class="panel-body">
                        <ul class="product-category-widget">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a href="@Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})#/page/@category.Id">@category.Name</a>
                                    <span class="badge pull-left" style="background-color: #ebebeb; color: #666">@category.ProductsCount</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a href="@Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})#/page">
                            <i class="glyphicon glyphicon-th-list"></i>
                            همه‌ی گروه‌ها
                        </a>
                    </div>
                </div>
            }
            @{
                Html.RenderPartial(MVC.Home.Views._PostCategorySidebar, Model.PostCategories);
            }


        </aside>
    </div>

*@

<!-- Start main-content -->
<div class="container main-container">

    <!-- Start Main-Slider -->
    @Html.Partial(MVC.SlideShow.Widget.Views.SlideShowWidget, Model.SlideShows)
    <!-- End Main-Slider -->

    <!-- Start Product-Slider -->
    <div class="row">
        <!--Product Main-->
        <div class="col-xl-10 col-lg-12">
            @{
            Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
            {
                Title = "پر فروش ترینها",
                CarouselId = "topViewProductsCarousel",
                LinkText = "مشاهده همه",
                Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/ViewNumber/desc",
                Products = Model.MostViewedProducts ,
                ShowCount = 5
            });
            }
        </div>
        <!--Product Mini-->
        <div class="col-xl-2 col-lg-3 hidden-lg pr-0">
            <div class="widget-suggestion dt-sn pt-3 mt-3">
                <div class="widget-suggestion-title">
                    <img src="../../Content/img/theme/suggestion-title.png" alt="">
                </div>
                <div id="progressBar">
                    <div class="slide-progress"></div>
                </div>
                <div id="suggestion-slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-card mb-3 shadow-unset">
                            <div class="product-head">
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                </div>
                                <div class="discount">
                                    <span>20%</span>
                                </div>
                            </div>
                            <a class="product-thumb" href="shop-single.html">
                                <img src="../../Content/img/products/07.jpg" alt="Product Thumbnail">
                            </a>
                            <div class="product-card-body">
                                <h5 class="product-title">
                                    <a href="shop-single.html">مانتو زنانه</a>
                                </h5>
                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                <span class="product-price">157,000 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-card mb-3 shadow-unset">
                            <div class="product-head">
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                </div>
                            </div>
                            <a class="product-thumb" href="shop-single.html">
                                <img src="../../Content/img/products/017.jpg" alt="Product Thumbnail">
                            </a>
                            <div class="product-card-body">
                                <h5 class="product-title">
                                    <a href="shop-single.html">کت مردانه</a>
                                </h5>
                                <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                <span class="product-price">199,000 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-card mb-3 shadow-unset">
                            <div class="product-head">
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <a class="product-thumb" href="shop-single.html">
                                <img src="../../Content/img/products/013.jpg" alt="Product Thumbnail">
                            </a>
                            <div class="product-card-body">
                                <h5 class="product-title">
                                    <a href="shop-single.html">مانتو زنانه مدل هودی تیک تین</a>
                                </h5>
                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                <span class="product-price">135,000 تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-card mb-3 shadow-unset">
                            <div class="product-head">
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <a class="product-thumb" href="shop-single.html">
                                <img src="../../Content/img/products/09.jpg" alt="Product Thumbnail">
                            </a>
                            <div class="product-card-body">
                                <h5 class="product-title">
                                    <a href="shop-single.html">مانتو زنانه</a>
                                </h5>
                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                <span class="product-price">145,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product-Slider -->

    <!-- Start Banner -->
    <div class="row mt-3 mb-5">
        <div class="col-sm-6 col-12 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/medium-banner-1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-12 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/medium-banner-2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Banner -->
    <div class="row mt-3 mb-5">
        <div class="col-md-3 col-sm-6 col-6 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/small-banner-5.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/small-banner-6.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/small-banner-7.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-2">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/small-banner-8.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Category-Section -->
    <div class="row mt-3 mb-5">
        <div class="col-12">
            <div class="category-section dt-sn dt-sl">
                <div class="category-section-title dt-sl">
                    <h3>بیش از ۱،۵۰۰،۰۰۰ کالا در دسته‌بندی‌های مختلف</h3>
                </div>
                <div class="category-section-slider dt-sl">
                    <div class="category-slider owl-carousel">
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/notebook-computer.png" alt="">
                                <h4 class="promotion-category-name">کالای دیجیتال</h4>
                                <h6 class="promotion-category-quantity">۱۵۶۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/lifeline-in-a-heart-outline.png" alt="">
                                <h4 class="promotion-category-name">آرایشی، بهداشتی و سلامت</h4>
                                <h6 class="promotion-category-quantity">۴۸۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/repair-tools.png" alt="">
                                <h4 class="promotion-category-name">خودرو،ابزار و اداری</h4>
                                <h6 class="promotion-category-quantity">۵۶۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/hanbok.png" alt="">
                                <h4 class="promotion-category-name">مد و پوشاک</h4>
                                <h6 class="promotion-category-quantity">۲۱۷۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/sofa.png" alt="">
                                <h4 class="promotion-category-name">خانه و آشپزخانه</h4>
                                <h6 class="promotion-category-quantity">۲۲۹۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/school-material.png" alt="">
                                <h4 class="promotion-category-name">لوازم تحریر و هنر</h4>
                                <h6 class="promotion-category-quantity">۸۶۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/baby-girl.png" alt="">
                                <h4 class="promotion-category-name">کودک و نوزاد</h4>
                                <h6 class="promotion-category-quantity">۳۲۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/adventurer.png" alt="">
                                <h4 class="promotion-category-name">ورزش و سفر</h4>
                                <h6 class="promotion-category-quantity">۱۵۰۰۰ کالا</h6>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="promotion-category">
                                <img src="../../Content/img/category/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png"
                                        alt="">
                                <h4 class="promotion-category-name">خوردنی و آشامیدنی</h4>
                                <h6 class="promotion-category-quantity">۲۲۰۰۰ کالا</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Category-Section -->
    <!-- Start Product-Slider -->
    <div class="row">
        @{
        Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
        {
            Title = "جدید ترینها",
            CarouselId = "newestProductsCarousel",
            LinkText = "مشاهده همه",
            Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new {area = MVC.Product.Name})}#/page/all/empty/1/PostedDate/desc",
            Products = Model.NewestProducts,
            ShowCount = 6
        });
        }
    </div>
    <!-- End Product-Slider -->
    <!-- Start Banner -->
    <div class="row mt-3 mb-5">
        <div class="col-12">
            <div class="widget-banner">
                <a href="#">
                    <img src="../../Content/img/banner/large-banner.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- Start Product-Slider -->
    <div class="row">
        @{
        Html.RenderPartial(MVC.Widgets.Views.ContainerSliderWidget, new ProductSliderWidgetViewModel
        {
            Title = "پربازدیدترین کالا‌ها",
            CarouselId = "topViewProductsCarousel",
            LinkText = "مشاهده همه",
            Link = $"{Url.Action(MVC.Product.SearchProduct.ActionNames.Index, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name })}#/page/all/empty/1/ViewNumber/desc",
            Products = Model.MostViewedProducts,
            ShowCount = 6
        });
        }
    </div>
    <!-- End Product-Slider -->
    <!-- Start Feature-Product -->
    <section class="dt-sl dt-sn mb-5">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-sm-title title-wide no-after-title-wide">
                    <h2>پیشنهاد ما</h2>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/017.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/020.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/014.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/016.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/018.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/015.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/017.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/020.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-horizontal-product">
                            <div class="card-horizontal-product-thumb">
                                <a href="#">
                                    <img src="../../Content/img/products/014.jpg" alt="">
                                </a>
                            </div>
                            <div class="card-horizontal-product-content">
                                <div class="card-horizontal-product-title">
                                    <a href="#">
                                        <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                    </a>
                                </div>
                                <div class="rating-stars">
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star active"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                                <div class="card-horizontal-product-price">
                                    <span>199,000 تومان</span>
                                </div>
                                <div class="card-horizontal-product-buttons">
                                    <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature-Product -->
    <!-- Start Brand-Slider -->
    <section class="slider-section dt-sl mb-5">
        <div class="row">
            <!-- Start Product-Slider -->
            <div class="col-12">
                <div class="brand-slider carousel-lg owl-carousel owl-theme">
                    <div class="item">
                        <img src="../../Content/img/brand/1076.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/1078.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/1080.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/2315.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/1086.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/5189.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/1000006973.png" class="img-fluid" alt="">
                    </div>
                    <div class="item">
                        <img src="../../Content/img/brand/1000014452.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <!-- End Product-Slider -->

        </div>
    </section>
    <!-- End Brand-Slider -->

</div>
<!-- End main-content -->