@using Iris.DomainClasses
@using Utilities
@using Iris.DomainClasses
@model Iris.ViewModels.ProductWidgetViewModel
<div>
    <div class="product-card">
        <div class="product-head">
            <!--Rate Star-->
            <div class="rating-stars">
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
                <i class="mdi mdi-star active"></i>
            </div>
            <div class="discount">
                <!--Offer-->
                @if (Model.Discount > 0)
                {
                    <span>@Html.DisplayFor(m => m.Discount)%</span>
                }
            </div>
        </div>
        <!--Product Image-->
        <a class="product-thumb" style="height:152px;" href="@Url.Action(MVC.Product.Home.ActionNames.Index, MVC.Product.Home.Name, new { area = MVC.Product.Name, id=Model.Id, slugUrl = Model.SlugUrl})">
            <img src="@Model.Image" alt="@Model.Name" style="max-width:151.766px;max-height:151.766px; overflow:hidden" >
        </a>
        <div class="product-card-body">
            <!--Product Name-->
            <h5 class="product-title">
                <a href="@Url.Action(MVC.Product.Home.ActionNames.Index, MVC.Product.Home.Name, new { area = MVC.Product.Name, id=Model.Id, slugUrl = Model.SlugUrl})">@Model.Name</a>
            </h5>
            <!--Product Category-->
            <a class="product-meta" href="@Url.Action(MVC.Product.Home.ActionNames.Index, MVC.Product.Home.Name, new { area = MVC.Product.Name, id=Model.Id, slugUrl = Model.SlugUrl})">@Model.Category</a>
            <!--Product Price-->
            <span class="product-price">@Html.DisplayFor(model => model.Price) تومان</span>
        </div>
    </div>
</div>