@using Iris.ViewModels
@using Utilities
@model Iris.ViewModels.PageDataGridViewModel
@{
    ViewBag.Title = "مدیریت برگه‌ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/jqGrid")
    <script>

        function showDeleteProductDialog(button, id, name) {
            $(button).confirmation({
                placement: "right",
                title: 'آیا از حذف این برگه اطمینان دارید؟',
                btnCancelLabel: 'نه',
                btnOkLabel: 'آره',
                container: 'body',
                onConfirm: function (event, element) {

                    var deleteUrl = "@Url.Action(MVC.Page.Admin.ActionNames.Delete,MVC.Page.Admin.Name, new {area=MVC.Page.Name})";

                    $.ajax({
                        method: "POST",
                        url: deleteUrl,
                        data: { id: id }
                    }).done(function (msg) {
                        element.confirmation('hide');
                        $('#list').jqGrid('delRowData', id);
                    });
                }
            }).confirmation('show');
        }

        function getHiddenColumnsList() {
            var colModel = $("#list").jqGrid('getGridParam', 'colModel');
            var hiddenColumns = new Array();

            if (!colModel)
                return hiddenColumns;

            for (var i = 0; i < colModel.length; i++) {
                if (colModel[i].hidden) {
                    hiddenColumns.push(colModel[i].name);
                }
            }
            return hiddenColumns;
        }

        $.jgrid.formatter.integer.thousandsSeparator = ',';
        $.jgrid.formatter.number.thousandsSeparator = ',';
        $.jgrid.formatter.currency.thousandsSeparator = ',';

        $(document).ready(function () {
        });

        $(window, ".wrapper").resize(function () {
            setTimeout(function () {
                var outerwidth = $('#grid').width() - 10;
                $('#list').setGridWidth(outerwidth); // setGridWidth method sets a new width to the grid dynamically
            }, 500);
        });
        var searchOptions = ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'];

        function loadGrid() {
            $('#list').jqGrid({
                caption: "فهرست برگه‌ها",
                //url from wich data should be requested
                url: '@Url.Action(MVC.Page.Admin.ActionNames.GetDataGridData, MVC.Page.Admin.Name, new {area = MVC.Page.Name})',
                //type of data
                datatype: 'json',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    userdata: "userData",
                    id: "id",
                    cell: "rowCells"
                },
                //url access method type
                mtype: 'POST',
                //columns names
                colNames: ['شماره', 'عنوان', "تعداد بازدید", "ترتیب", ""],
                //columns model
                colModel: [
                    {
                        name: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Id))',
                        index: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Id))',
                        align: 'center',
                        width: 20,
                        sorttype: "number",
                        hidden: true,
                        key: true
                    },
                    {
                        name: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Title))',
                        index: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Title))',
                        align: 'center',
                        width: 35,
                        search: false,
                        stype: 'text',
                    },
                    {
                        name: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.ViewNumber))',
                        index: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.ViewNumber))',
                        align: 'center',
                        search: true,
                        width: 20,
                        sorttype: "number",
                        stype: 'number'
                    },
                    {
                        name: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Order))',
                        index: '@(StronglyTyped.PropertyName<PageDataGridViewModel>(x => x.Order))',
                        align: 'center',
                        width: 20,
                        search: true,
                        sorttype: "number",
                        stype: 'number'
                    },
                    {
                        name: 'myac',
                        align: 'center',
                        width: 80,
                        fixed: true,
                        sortable: false,
                        resize: false,
                        search: false,
                        formatter: function (cellvalue, options, rowObject) {
                            return '<a href="@Url.Action(MVC.Page.Admin.ActionNames.Edit,MVC.Page.Admin.Name, new { area=MVC.Page.Name})/' + rowObject[0] + '" class="btn-grid-action"> <i class="fa fa-edit"></i></a><a class="btn-grid-action" href="javascript:void(0)" onclick="showDeleteProductDialog(this,' + rowObject[0] + ',\'' + rowObject[1] + '\');"> <i class="fa fa-trash-o"></i></a>';
                        }

                    }
                ],
                //pager for grid
                pager: $('#pager'),
                //number of rows per page
                rowNum: 10,
                rowList: [10, 20, 50, 100],
                //initial sorting column
                sortname: 'Order',
                //initial sorting direction
                sortorder: 'asc',
                //we want to display total records count
                viewrecords: true,
                autowidth: true, // set 'true' here
                shrinkToFit: true, // well, it's 'true' by default
                height: 'auto',
                hidegrid: false,
                direction: "rtl",
                gridview: true,
                rownumbers: true,
                footerrow: true,
                userDataOnFooter: true,
                loadComplete: function () {
                    //change alternate rows color
                    $("tr.jqgrow:odd").css("background", "#ebebeb");
                },
                loadError: function (xhr, st, err) {
                    jQuery("#rsperror").html("Type: " + st + "; Response: " + xhr.status + " " + xhr.statusText);
                },
                postData: { 'hiddenColumns': function () { return getHiddenColumnsList(); } }
            })
                .jqGrid('navGrid', "#pager",
                { add: false, edit: false, del: false },
                {}, // default settings for edit
                {}, // default settings for add
                {}, // delete instead that del:false we need this
                {
                    // search options
                    multipleSearch: true,
                    closeOnEscape: true,
                    closeAfterSearch: true,
                    ignoreCase: true,
                    sopt: searchOptions
                })
                .jqGrid('filterToolbar', {
                    stringResult: true,
                    searchOnEnter: true,
                    autosearch: true,
                    searchOperators: true,
                    groupOp: 'OR',
                    defaultSearch: 'cn'
                }).jqGrid('navButtonAdd', "#pager", {
                    caption: "نوار ابزار جستجو",
                    title: "Search Toolbar",
                    buttonicon: 'ui-icon-search',
                    onClickButton: function () {
                        $("#list")[0].toggleToolbar();
                    }
                });
            $("#list")[0].toggleToolbar();
        }

        function toolbarSearching() {
            $('#list').filterToolbar({
                groupOp: 'OR',
                defaultSearch: "cn",
                autosearch: true,
                searchOnEnter: true,
                searchOperators: true, // فعال سازی منوی اپراتورها
                stringResult: true // وجود این سطر سبب می‌شود تا اپراتورها به سرور ارسال شوند
            });
        };

        function singleSearching() {
            $('#list').searchGrid({
                closeAfterSearch: true
            });
        };

        function advancedSearching() {
            $('#list').searchGrid({
                multipleSearch: true,
                closeAfterSearch: true
            });
        };

        loadGrid();
    </script>
}

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <div class="col-md-6">
                <h3 class="box-title">مدیریت برگه‌ها</h3>
            </div>
            <div class="text-left col-md-6">
                <a href="@Url.Action(MVC.Page.Admin.ActionNames.Add, MVC.Page.Admin.Name, new {area = MVC.Page.Name})" class="btn btn-primary"> <i class="fa fa-plus fa-lg"></i> افزودن برگه</a>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="padding: 0 5px 0 5px; ">
                <div class="col-md-12">
                    <div id="grid" dir="rtl">
                        <table id="list"></table>
                        <div id="pager" style="text-align:center;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


