@model Iris.Web.ViewModels.Identity.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
   
    <div class="col-md-12">
        <div class="row">
            <h2>تغییر کلمه عبور</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="frmEditSiteSettings" class="form-horizontal" action="@Url.Action(MVC.Account.ActionNames.ChangeUserPassword, MVC.Account.Name, new {area = ""})" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, null, new { @class = "" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <button class="btn btn-success"> <i class="fa fa-save fa-lg"></i> ذخیره</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*<section class="content">

        <form id="frmEditSiteSettings" class="form-horizontal" action="@Url.Action(MVC.Account.ActionNames.ChangePassword, MVC.Account.Name, new {area = ""})" method="POST">
            @Html.AntiForgeryToken()
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3 class="box-title" style="margin-top: 10px;">@ViewBag.Title</h3>
                        </div>
                        <div class="text-left col-md-6 col-xs-6">
                            <button class="btn btn-success"> <i class="fa fa-save fa-lg"></i> ذخیره</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>*@

