@model Iris.Web.ViewModels.Identity.LoginViewModel
@{
    ViewBag.Title = "ورود به سیستم";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <style>
        body {
            background-color: #d2d6de;
        }
    </style>
}
<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="">ورود به سیستم</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"></p>

            @using (Html.BeginForm(MVC.Account.ActionNames.Login, MVC.Account.Name, new { area = "", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", style = "direction:ltr", type = "email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", style = "direction: ltr;" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) مرا به یاد داشته باش
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <a href="@Url.Action(MVC.Account.ActionNames.ForgotPassword,MVC.Account.Name,new {area=""})">کلمه عبور را فراموش کردم</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
