@model Iris.ViewModels.MetaTagsViewModel
<div class="clearfix">
    <div class="form-group">
        @Html.LabelFor(m => m.SlugUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.SlugUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tags, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.ListBoxFor(m => m.Tags, new List<SelectListItem>()
                                                   , new { @class = "form-control js-example-responsive", style = "width: 100%;" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MetaDescription, new { @class = "col-md-2 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control", rows = 3 })
        </div>
    </div>
</div>
