@model Iris.Web.ViewModels.ProductSliderWidgetViewModel
@*<section class="container-widget">
    <div class="panel panel-default" style="margin-bottom: 0;">
        <header class="panel-heading" style="padding-bottom: 0; padding-top: 0;height: 35px;">
            <span class="panel-title">
                @Model.Title
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="@Model.CarouselId" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Products.Count(); i += 4)
                            {
                                <div class="item @if (i < 4){ <text>active</text> }">
                                    <div class="row">
                                        @foreach (var product in Model.Products.Skip(i).Take(4))
                                        {
                                            <div class="col-md-3 col-sm-3 col-xs-6">
                                                @Html.Partial(MVC.Product.Widget.Views._ProductWidget, product)
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <a class="right carousel-control" href="#@Model.CarouselId" data-slide="next">‹</a>
                    <a class="left carousel-control" href="#@Model.CarouselId" data-slide="prev">›</a>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <a href="@Model.Link">
                <i class="glyphicon glyphicon-th-list"></i>
                @Model.LinkText
            </a>
        </footer>
    </div>
</section>
*@

@*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
*@

<section class="slider-section dt-sl mb-5">
    <div class="row mb-3">

        <!--More BTN-->
        <div class="col-12">
            <div class="section-title text-sm-title title-wide no-after-title-wide">
                <h2>@Model.Title</h2>
                <a href="@Model.Link">@Model.LinkText</a>
            </div>
        </div>

        <!-- Start Product-Slider -->
        <div class="col-12 px-res-0">
            <div class="product-carousel carousel-md owl-carousel owl-theme">
                <!--Begin Product-->
                @for (int i = 0; i < Model.Products.Count(); i += Model.ShowCount)
                {
                    
                    foreach (var product in Model.Products.Skip(i).Take(Model.ShowCount))
                    {
                        <div class="item">
                            @Html.Partial(MVC.Product.Widget.Views._ProductWidget, product)
                        </div>
                    }
                }
                <!--End Product-->
            </div>
        </div>
        <!-- End Product-Slider -->

    </div>
</section>
